.fade:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    z-index: -9999999999999999999999999px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.fade {
    opacity: 1;
    -webkit-filter: grayscale(100%);
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.name {
    text-align: center;
    color: #fff;
    font: bold 24px/45px arial;
}