.name {
    font-weight:bold;
    font-family:arial;
    font-size:20;
    color:#fff;
    bottom:0;
    left:1em;
    position:absolute;
}

.tile {
    position:absolute;
    width:325px;
    height:325px;
    onClick:DoSomething();
    onMouseOver:"script";
    margin-right:1;
}

.hover-square {
    background-color: black;
    width: 500px;
    height: 500px;
    opacity:0.5;
}

.hover-square:hover, .hover-square:focus {
    background-color: black;
    width: 500px;
    height: 500px;
    opacity:0;
}