{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="en">

	<head>
		<title>{% block title %}CalEATS{% endblock title %}</title>
		<meta charset="utf-8">
		<link href="{% static 'caleats/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'caleats/css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'caleats/css/main.css' %}" rel="stylesheet">
	</head>

	<body background="{% static 'caleats/img/cal.jpg' %}">
		<div class="navbar-wrapper">
			<div class="navbar navbar-default" role="navigation" style="opacity:0.90">
	      		<div class="container">
	        		<div class="navbar-header">
	          			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            			<span class="sr-only">Toggle navigation</span>
	            			<span class="icon-bar"></span>
	            			<span class="icon-bar"></span>
	            			<span class="icon-bar"></span>
	          			</button>
	          			<a class="navbar-brand" href="#"><img src="{% static 'caleats/img/home.png' %}" height="25"></a>
	        		</div>
	        		<div class="collapse navbar-collapse">
	          			<ul class="nav navbar-nav">
	            			<li><a href="cafe_3">Café 3</a></li>
        					<li><a href="clark_kerr">Clark Kerr</a></li>
            				<li><a href="crossroads">Crossroads</a></li>
            				<li><a href="foothill">Foothill</a></li>
	          			</ul>
	          			<ul class="navbar-form navbar-right" role="form">
	          				<div class="form-group">
	              				<input type="text" placeholder="Search" class="form-control">
	            			</div>
	          			</ul>
	        		</div><!--/.nav-collapse -->
	      		</div>
	    	</div>
    	</div>

	    <div id="middle">
	    	{% block middle %}{% endblock middle %}
      	</div>

		<!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->

	    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	    <script src="../../dist/js/bootstrap.min.js"></script>
	</body>
</html>
