{% load staticfiles %}
<html>
<head>
	<script type="text/javascript" src="{% static 'caleats/js/jquery.js' %}"></script>
	<title>{% block title %}A Generic Title{% endblock %}</title>
</head>

<h1>{{ hall }}</h1>

<ul>
<p><b>Breakfast</b></p>
{% for mu in br_menuitems %}
    <li>
    {{ mu.entree.name }}
    <span class="upvote" pk="{{ mu.pk }}">+</span> / <span class="downvote"  pk="{{ mu.pk }}">-</span>
    </li>
{% endfor %}
<p><b>Lunch</b></p>
{% for mu in lu_menuitems %}
    <li>
    {{ mu.entree.name }}
    <span class="upvote" pk="{{ mu.pk }}">+</span> / <span class="downvote"  pk="{{ mu.pk }}">-</span>
    </li>
{% endfor %}
<p><b>Dinner</b></p>
{% for mu in di_menuitems %}
    <li>
    {{ mu.entree.name }}
    <span class="upvote" pk="{{ mu.pk }}">+</span> / <span class="downvote"  pk="{{ mu.pk }}">-</span>
    </li>
{% endfor %}
</ul>

<script>
  	function vote(kind, id) {
	    $.get("/caleats/vote/", { pk: id, vote: kind });
  	}
  	function addClickHandlers() {
	    $(".upvote").click( function() { vote("up", $(this).attr("pk")) });
	    $(".downvote").click( function() { vote("down", $(this).attr("pk")) });
 	}
	$(document).ready(addClickHandlers);
</script>

</html>