{% extends "caleats/base.html" %}
{% load staticfiles %}

{% block title %}{{ hall }}{% endblock title %}

{% block middle %}
<div class="container">
  	<div class="jumbotron" id="hallheader">
        <h1>{{ hall }}</h1>
        <h2> dinner | 5:00 pm - 10:00 pm</h2>
    </div>
</div>

<script type="text/javascript" src="{% static 'caleats/js/jquery.js' %}"></script>
<script>
    function vote(kind, id) {
        $.get("/caleats/vote/", { pk: id, vote: kind });
    }
    function favorite(id, elem) {
        {% if user %}
        $.get("/caleats/favorite/", { pk: id });
        if (elem.className=="rh heart")
        {
            elem.className="gh heart"
        }
        else
        {
            elem.className="rh heart"
        }
        {% endif %}
    }
    function addClickHandlers() {
        $(".upvote").click( function() { vote("up", $(this).attr("pk")) });
        $(".downvote").click( function() { vote("down", $(this).attr("pk")) });
        $(".heart").click( function() { favorite($(this).attr("pk"), this);
                                        
                                      });
    }
    $(document).ready(addClickHandlers);
</script>

<div class="container">
    <div id="mealdisplay">
        <ul id="MealChoice" class="nav nav-tabs">
          <li class="active"><a href="#breakfast" data-toggle="tab">Breakfast</a></li>
          <li><a href="#lunch" data-toggle="tab">Lunch</a></li>
          <li><a href="#dinner" data-toggle="tab">Dinner</a></li>
        </ul>
        <div id="Menu" class="tab-content">
          <div class="tab-pane fade in active" id="breakfast">
            <table class="table table-striped">
                {% for mu in br_menuitems %}
                <tr>
                    <td>{{ mu.entree.votes }}</td>
                    <td>{{ mu.entree.name }}</td>
                    <td><span class="upvote" pk="{{ mu.pk }}">+</span> / <span class="downvote"  pk="{{ mu.pk }}">-</span></td>
                    <td><span class={% if mu.entree in favorites %}"rh heart"{%  else %}"gh heart"{% endif %} pk="{{ mu.pk }}">&lt3</span></td>
                </tr>
                {% empty %}
                    <tr>
                        <td><em>Closed</em></td>
                    </tr>
                {% endfor %}
            </table>
          </div>
          <div class="tab-pane fade" id="lunch">
            <table class="table table-striped">
                {% for mu in lu_menuitems %}
                <tr>
                    <td>{{ mu.entree.votes }}</td>
                    <td>{{ mu.entree.name }}</td>
                    <td><span class="upvote" pk="{{ mu.pk }}">+</span> / <span class="downvote"  pk="{{ mu.pk }}">-</span></td>
                    <td><span class={% if mu.entree in favorites %}"rh heart"{%  else %}"gh heart"{% endif %} pk="{{ mu.pk }}">&lt3</span></td>
                </tr>
                {% empty %}
                    <tr>
                        <td><em>Closed</em></td>
                    </tr>
                {% endfor %}
            </table>
          </div>
          <div class="tab-pane fade" id="dinner">
            <table class="table table-striped">
                {% for mu in di_menuitems %}
                <tr>
                    <td>{{ mu.entree.votes }}</td>
                    <td>{{ mu.entree.name }}</td>
                    <td><span class="upvote" pk="{{ mu.pk }}">+</span> / <span class="downvote"  pk="{{ mu.pk }}">-</span></td>
                    <td><span class={% if mu.entree in favorites %}"rh heart"{%  else %}"gh heart"{% endif %} pk="{{ mu.pk }}">&lt3</span></td>
                </tr>
                {% empty %}
                    <tr>
                        <td><em>Closed</em></td>
                    </tr>
                {% endfor %}
            </table>
          </div>        
        </div>
    </div>
</div>
{% endblock %}

